@import '../styles/global/variables';
@import '../styles/mixins/mixins';

.navbar {
  @include flex();
  @include size(100vw, rem(70px));
  background-color: $primary;
  color: #fff;
  font-size: 2rem;
}

.container {
  @include absolute(0, 0, 0, 0);
  @include flex(center, center);
  padding: 100px;
}

.welcome {
  @include flex(stretch, flex-start);

  flex-direction: column;
}

.form {
  @include flex(center, center);
  flex-direction: column;
}

.btn {
  @include size(100%, rem(45px));

  margin-top: rem(20px);
  border:  1px solid $primary;
  border-radius:  5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
