<h1 class="navbar">Angular Quiz App</h1>

<div class="container">
  <div *ngIf="!start" class="welcome">
    <h2>Press botton to start</h2>
    <button type="button" (click)="onStart()">Start Quiz</button>
  </div>


  <form [formGroup]="form" (ngSubmit)=onSubmit() *ngIf="start && !done">
    <app-question [idx]="questionNumber" [question]="questions[questionNumber]" [form]="form"></app-question>
    <button type="button" (click)="onNext()" *ngIf="!end">Next Question</button>
    <button type="submit" *ngIf="end" [disabled]="!form.valid">Submit!</button>
  </form>

  <div *ngIf="done" class="welcome">
    <h2>You've finished the quiz!</h2>
    <p> You've got {{correctAns}} out of {{questions.length}} </p>
    <button type="button" (click)="onReset()">Restart Quiz</button>
  </div>


</div>
